  .logo {
    width: 186px;
    height: 58px;
    background-repeat: no-repeat;

    background: url(./assets/Rectangle\ 4.png);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .head {
    width: 100%;
  }


  .nav-a {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 48px;
    background: transparent;
  }

  nav a {

    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
  }

  .home {
    width: 40px;
    height: 28px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 187% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light text */

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px;
  }

  .product1 {
    width: 51px;
    height: 28px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 187% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light text */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px;
  }

  .title-font {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    letter-spacing: 0.1px;

  }

  .pricing1 {
    width: 44px;
    height: 28px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 187% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light text */

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px;
  }

  .about1 {
    width: 40px;
    height: 28px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 187% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light text */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px;
  }

  .contact1 {
    width: 52px;
    height: 28px;


    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 187% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light text */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px;
  }

  header {
    width: 100%;
    background: transparent;

  }

  hero {
    width: 100%;
    height: 1100px;
    padding-bottom: 150px;
  }

  .background {
    width: 100%;
    height: 970px;
    background: url(./assets/Rectangle\ 9.jpg);
    background-repeat: round;
    background-size: cover;
    margin: auto;


  }

  /*.bg-pic{
    
    width: 100%;
    height: 100%;
    background: url(./assets/Rectangle\ 9.jpg);
    background-repeat: round;
    background-size: cover;
  }*/
  .heading {

    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
  }

  @media (min-width: 648px) {
    .heading {
      font-size: 72px;
      font-weight: 400;
      line-height: 84px;
      letter-spacing: 0.2px;
    }
  }

  .sub-heading {

    width: 100%;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    /* or 143% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light text */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  footer {
    background: #252B42;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .button1 {
    border-radius: 35px;
    background-color: #2091F9;

  }

  input::placeholder {
    color: black;
    opacity: 1;
  }

  textarea::placeholder {
    color: black;
    opacity: 1;
  }

  .contact-us {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 52px 50px;
    gap: 45px;

    height: 669px;

    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    /* SHADOW */

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .con-1 {

    height: 28px;

    /* H3 */

    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    letter-spacing: 0.1px;

    /* text */

    color: #252B42;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 0px;
    gap: 100px;

    width: 100%;
    height: 100%;

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
  }

  .con {

    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    /* identical to box height, or 115% */

    text-align: center;
    letter-spacing: 0.2px;

    color: #252B42;
  }

  .sub-con {

    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    /* or 143% */

    text-align: center;
    letter-spacing: 0.2px;

    /* second text */

    color: #374754;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 35px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: #73757a;
    transition: 0.6s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: #FFFFFF;
    transition: 0.4s;
    border-radius: 35px;
  }

  input:checked+.slider {
    background-color: #2091F9;
  }

  input:checked+.slider:before {
    transform: translateX(26px);
  }




  .price-box {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;

    width: 335px;
    height: 607px;

    /* light background */

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .price-box1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;

    width: 335px;
    height: 607px;

    /* Primary */

    background: #2091F9;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  @media (min-width: 768px) {
    .price-box1 {
      padding: 83px 40px;
      width: 335px;
      height: 693px;
    }
  }

  .price-box2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;

    width: 335px;
    height: 607px;

    /* light background */

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 100%;

    /* Dark background */

    background: #252B42;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0
  }

  .feature {
    width: 100%;
    height: 100%;
    background: #FFFFFF;

  }

  .f {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    text-align: center;
    letter-spacing: 0.1px;

    /* text */

    color: #252B42;
  }

  .sub-f {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */

    text-align: center;
    letter-spacing: 0.2px;

    /* second text */

    color: #374754;
  }

  .sub-c {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
    letter-spacing: 0.1px;

    /* second text */

    color: #374754;

  }

  .partner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 100%;

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .video {
    box-shadow: 0px 13px 19px rgb(0 0 0 / 7%);
    border-radius: 20px;
  }


  .list {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  @media screen and (max-width: 767px) {

    .list {
      flex-direction: column;
      background: #2091F9;
      height: auto;
      width: 100%;
      position: fixed;

    }

    .hamburger {
      display: block;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;

    width: 80%;
    height: 612.17px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .map {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 13px 19px rgb(0 0 0 / 7%)
  }
  